# Database connectivity and operations using Python.

#### Step 1: Importing libraries

In [3]:
#!/usr/bin/python

# Importing sqlite3
import sqlite3

#### Step 2: Making connection

In [4]:
# Connecting with the database.
db = sqlite3.connect("my_database.db")

#### Step 3: Dropping table if exist already

In [5]:
# Drop table if it already exist using execute() method.
db.execute("drop table if exists student_grade") # NOTE: what we write in " " are the queries

#### Step 4: Creating table

In [6]:
# Create table as per requirement
db.execute("create table student_grade(id int, name text, score int)")

#### Step 5: Inserting values to the table

In [7]:
#inserting values inside the created table one by one
db.execute("insert into student_grade(id, name, score) values(101, 'Ayush',99 )")
db.execute("insert into student_grade(id, name, score) values(102, 'Sahil',90 )")
db.execute("insert into student_grade(id, name, score) values(103, 'Bhavuk', 80 )")
db.execute("insert into student_grade(id, name, score) values(104, 'Amit', 85 )")
db.execute("insert into student_grade(id, name, score) values(105, 'Vaibhav',95 )")

#### Step 6: Saving data permanetly to table

In [9]:
## it is use to stored data permanently the table
db.commit()

# Let's see some query examples

In [16]:
result = db.execute("select * from student_grade order by id")
for row in result:
    print(row)
print("_" * 100 )

(101, 'Ayush', 99)
(102, 'Sahil', 90)
(103, 'Bhavuk', 80)
(104, 'Amit', 85)
(105, 'Vaibhav', 95)
____________________________________________________________________________________________________

In [17]:
result = db.execute("select * from student_grade where name = 'Sahil' ")
for row in result: 
    print(row)
print("_" * 100 )

(102, 'Sahil', 90)
____________________________________________________________________________________________________

In [18]:
result = db.execute("select * from student_grade where score >= 90 ")
for row in result:
    print(row)
print("_" * 100 )

(101, 'Ayush', 99)
(102, 'Sahil', 90)
(105, 'Vaibhav', 95)
____________________________________________________________________________________________________

In [19]:
result = db.execute("select name, score from student_grade order by score asc ")
for row in result:
    print(row)
print("_" * 100 )

('Bhavuk', 80)
('Amit', 85)
('Sahil', 90)
('Vaibhav', 95)
('Ayush', 99)
____________________________________________________________________________________________________

In [20]:
result = db.execute("select name, score from student_grade order by score")
for row in result:
    print(row)
print("_" * 100 )

('Bhavuk', 80)
('Amit', 85)
('Sahil', 90)
('Vaibhav', 95)
('Ayush', 99)
____________________________________________________________________________________________________

In [21]:
results = db.execute("select name, score from student_grade order by score")
for row in results:
    print(row)
print("_" * 100 )

('Bhavuk', 80)
('Amit', 85)
('Sahil', 90)
('Vaibhav', 95)
('Ayush', 99)
____________________________________________________________________________________________________